<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset='utf-8'>
        <title>SKIN AI</title>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <header>
            <a class="howtouse" href="{% url 'use' %}" style="text-decoration: none;">使い方</a>
            <a class="someone" href="{% url 'list' %}" style="text-decoration: none;">他人の作品</a>
        </header>
        {% comment %} <div><img class="skinai" src="{% static '/images/skinai.png' %}" alt="SKIN AI"></img></div> {% endcomment %}
        <a href="{% url 'home' %}" class="skinai"></a>
        <div><button class="start" type="button" onclick="location.href='{% url 'make' %}'">始める</button></div>
    </body>
</html>