{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>SKIN AI</title>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <header>
            <p class="howtouse">使い方</p>
            <p class="someone">他人の作品</p>
        </header>
        {% load static%}
        <p><img srs="{% static "../../images/SKINAI.png" %}" alt="SKIN AI"></img></p>
        <button type="button">始める</button>
    </body>
</html>