* {
    margin: 0px;
    padding: 0px;
    font-family: 'YuGothic';
}
body{
    width: 100vw;
    height: 100vh;
}
.editor{
    display: flex;
}
.model{
    width: 60%;
    height: 90vh;
}
.selector{
    width: 20%;
    height: 100%;
}
.types{
    width: 20%;
    height: 100%;
}
model-viewer {
    width: 100%;
    height: 100%;
    background-color: #6d6d6d;
}
model-viewer#reveal {
    --poster-color: transparent;
}
header{
    width: 100%;
    height: 10%;
    background-color: #3f3f3f;
}
.skin{
    height: 100%;
    margin: auto;
    display: block;
}